.background {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(25, 25, 25, 0.85);
	color: white;
}

.dialog {
	background-color: rgb(39, 39, 39);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 75vw;
	max-height: 85vh;
	text-align: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.dialog form {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 85vh;
}

.filesContainer {
	align-items: center;
	overflow-y: scroll;
	max-height: 45vh;
	width: 100%;
}

.dialog input {
	margin-bottom: 12px;
}

.dialog label {
	font-size: 0.9em;
	margin-bottom: 6px;
	color: rgba(255, 255, 255, 0.6);
}

.dialog input[type='text'] {
	padding: 10px 12px;
	font-size: 1em;
	width: 80%;
	border-radius: 10px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.cancel {
	padding: 5px;
	width: 30px;
	height: 30px;
	font-weight: bold;
	align-self: flex-start;
	cursor: pointer;
}

.cancel:hover {
	background-color: grey;
}

.dialog input[type='submit'] {
	font-size: 1.2em;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	color: white;
	border: 3px solid rgb(73, 0, 0);
	margin-bottom: 20px;
	padding: 10px 12px;
	cursor: pointer;
}

.dialog input[type='submit']:hover {
	background-color: rgb(240, 0, 0);
}

.dialog .customFileUpload {
	border-radius: 5px;
	border: 3px solid white;
	display: inline-block;
	padding: 10px 12px;
	cursor: pointer;
	margin-bottom: 20px;
	color: white;
}

.dialog .customFileUpload:hover {
	background-color: grey;
}

.dialog input[type='file'] {
	display: none;
}

.dialog .file {
	display: flex;
	padding: 20px;
}

.dialog .file .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 4;
	border-right: 1px solid white;
}

.dialog .file .fileDetails {
	display: flex;
	flex: 9;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1199.98px) {
	.dialog .file .icon {
		flex: 3;
	}
	.dialog {
		width: 85vw;
	}
}

@media only screen and (max-width: 991.98px) {
	.dialog input[type='text'] {
		width: 80%;
	}
}

@media only screen and (max-width: 767.98px) {
	.dialog .file .icon {
		display: none;
	}
	.dialog input[type='text'] {
		width: 90%;
	}
}
