.background {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(25, 25, 25, 0.85);
	color: white;
}

.dialog {
	background-color: rgb(105, 0, 0);
	width: 75vw;
	max-height: 85vh;
	text-align: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.dialog form {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 85vh;
}

.filesContainer {
	align-items: center;
	overflow-y: scroll;
	max-height: 60vh;
	width: 100%;
}

.dialog input {
	margin-bottom: 15px;
}

.dialog label {
	font-size: 1em;
	margin-bottom: 5px;
}

.dialog input[type='text'] {
	padding: 6px 12px;
	font-size: 1em;
	width: 60%;
}

.row {
	display: flex;
	justify-content: space-between;
}

.cancel {
	padding: 5px;
	width: 30px;
	height: 30px;
	font-weight: bold;
	align-self: flex-start;
	cursor: pointer;
}

.cancel:hover {
	background-color: grey;
}

.dialog input[type='submit'] {
	font-size: 1.2em;
	padding: 6px 12px;
	cursor: pointer;
}

.dialog .customFileUpload {
	border-radius: 5px;
	border: 3px solid white;
	display: inline-block;
	padding: 10px 12px;
	cursor: pointer;
	margin-bottom: 20px;
}

.dialog .customFileUpload:hover {
	background-color: grey;
}

.dialog input[type='file'] {
	display: none;
}

.dialog .file {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hLine {
	margin: 30px 0;
	height: 3px;
	width: 90%;
	background-color: white;
}

@media only screen and (max-width: 1199.98px) {
	.dialog {
		width: 85vw;
	}
	.dialog input[type='text'] {
		width: 70%;
	}
}

@media only screen and (max-width: 991.98px) {
	.dialog input[type='text'] {
		width: 80%;
	}
}

@media only screen and (max-width: 767.98px) {
	.dialog input[type='text'] {
		width: 90%;
	}
}
