.title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	background-color: rgb(31, 31, 31);
}

.title h1 {
	font-weight: bold;
	font-size: 2.5em;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}

.openColorPickerButton {
	margin-bottom: 10px;
}

.footer {
	width: 100%;
	height: 35px;
	font-size: 0.9em;
	padding: 0 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(31, 31, 31);
}

.launchpadContainer {
	padding: 20px 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto 0;
}

.launchpad {
	display: grid;
	grid-template-columns: repeat(5, 210px);
	gap: 25px;
}

.button {
	width: 210px;
	height: 210px;
	padding: 13px;
	border-radius: 5px;
	font-size: 1.2em;
	background-color: none;
	display: flex;
	/* border: 7px solid red; */
	flex-direction: column;
	cursor: pointer;
}

.button.playing {
	background-color: rgb(219, 0, 0) !important;
}

.button:hover {
	background-color: rgb(52, 52, 52);
}

.firstRow {
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
}

.delete:hover {
	background-color: rgb(180, 0, 0);
}

.key {
	background-color: rgba(39, 39, 39, 0);
}

.name {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 0.85em;
}

.addNewButton {
	background-color: grey;
	width: 210px;
	height: 210px;
	padding: 13px;
	border-radius: 5px;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-image: url('../public/plus.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.addNewButton:hover {
	background-color: rgb(105, 105, 105);
}

@media only screen and (max-width: 1199.98px) {
	.launchpad {
		grid-template-columns: repeat(4, 210px);
		gap: 25px;
	}
}

@media only screen and (max-width: 991.98px) {
	.launchpad {
		grid-template-columns: repeat(4, 200px);
		gap: 20px;
	}

	.button {
		width: 200px;
		height: 200px;
	}

	.addNewButton {
		width: 200px;
		height: 200px;
	}

	.title h1 {
		font-size: 2em;
	}

	.firstRow {
		margin-bottom: 4px;
	}

	.delete {
		padding: 3px;
	}

	.name {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 923px) {
	.launchpad {
		grid-template-columns: repeat(3, 200px);
		gap: 25px;
	}
	.footer {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 767.98px) {
	.launchpad {
		grid-template-columns: repeat(2, 200px);
		gap: 25px;
	}
	.instructions {
		display: none;
	}
	.footer {
		justify-content: center;
	}
}

@media only screen and (max-width: 575.98px) {
	.launchpad {
		grid-template-columns: repeat(2, 195px);
		gap: 20px;
	}
	.button {
		width: 195px;
		height: 195px;
	}
	.addNewButton {
		width: 195px;
		height: 195px;
	}
}

@media only screen and (max-width: 450px) {
	.launchpad {
		grid-template-columns: repeat(2, 40vw);
		gap: 15px;
	}
	.title h1 {
		font-size: 1.5em;
	}
	.button {
		width: 40vw;
		height: 40vw;
		padding: 8px;
	}
	.addNewButton {
		width: 40vw;
		height: 40vw;
	}
	.firstRow {
		margin-bottom: 4px;
		font-size: 0.9em;
	}

	.delete {
		padding: 2px;
	}

	.name {
		font-size: 0.7em;
	}
}
