.title {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	background-color: rgb(31, 31, 31);
}

.title h1 {
	font-weight: bold;
	font-size: 2.5em;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
}

.footer {
	width: 100%;
	height: 35px;
	font-size: 0.9em;
	padding: 0 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(31, 31, 31);
}

.launchpadContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.launchpad {
	display: grid;
	grid-template-columns: repeat(4, 170px);
	gap: 20px;
}

.button {
	background-color: red;
	width: 170px;
	height: 170px;
	padding: 10px;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.firstRow {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.name {
	margin-bottom: 5px;
	font-weight: bold;
}

.addNewButton {
	background-color: grey;
	width: 170px;
	height: 170px;
	padding: 10px;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-image: url('../public/plus.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}
